venv
*.egg-info
__pycache__
.DS_Store
src/.DS_Store
src/dvspec/.DS_Store
src/dvspec/dafny/.DS_Store
src/dvspec/dafny-block-dv/.DS_Store
*.dll
src/proofs/verification_log.txt
src/proofs/verify.sh
dafny.txt
debug.txt
verification.log
src/proofs/att_ver_log.txt
src/proofs/att_ver.sh
src/proofs/block_ver_log.txt
src/proofs/block_ver.sh
